@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900');

html, body {
    height: 100%;
}

body {
    padding-top: 68px;
    background-color: #F6F6F6;
    box-sizing: border-box;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color: #7f7f82;
}

.p-0 {
    padding: 0 !important;
    margin: 0 !important;
}

#map_canvas {
    width: 100%;
    height: 100%;
}

.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

.content {
    /*border: 1px solid #C0C0C0;
    box-shadow: inset 0 1px 2px #e4e4e4;
    background-color: #fff;*/
}

.gutter {
    background-color: #2995f1;

    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url('../images/vertical.png');
}

.gutter.gutter-vertical {
    cursor: row-resize;
    background-image: url('../images/horizontal.png');
}

.split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}


.alert-panel {
    /*padding-top: 3px;
    height:180px;*/
    background-color: #FFFFFF !important;
    color: #FFFFFF !important;
}

.menu-panel {
    background-color: #11616e !important;
    color: #5D5D5D !important;
}

.navbar-brand {
    padding: 0 !important;
}

.logo-main {
    margin-top: 7px;
    /*width: 205px;*/
    margin-left: 20px;
}

.navbar-inverse {
    background-color: #117c8f !important;
    border-color: transparent !important;
}

.navbar-inverse a {
    color: #FFFFFF !important;
}

.navbar {
    min-height: 68px !important;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #11616e !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #11616e !important;
    color: #FFFFFF;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #11616e !important;
    color: #FFFFFF !important;
}

.nav > li > a {
    padding: 23px 20px !important;
    font-size: 13px;
}

.dropdown-menu > li > a {
    color: #11616e !important;
    font-size: 13px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #11616e !important;
    color: #FFFFFF !important;
}

.container-crud {
    padding: 0 30px 30px 30px;
}

h1 {
    color: #2995f1 !important;
    font-size: 24px;
    margin-bottom: 20px;
}

.geo-btn {
    background: transparent !important;
    text-align: center;
    border: 1px solid #2995F1;
    font-size: 13px !important;
    padding: 5px;
    margin-top: 10px;
    min-width: 80px;
}

.geo-btn span {
    padding: 5px;
}

.panel-primary > .panel-heading {
    background-color: #2e8a96 !important;
    border-color: #2e8a96;
}

h4 {
    font-weight: 600;
    color: #117c8f !important;
    /* text-transform: uppercase; */
}

.admin-container {
    padding-top: 20px;
}

.modal-header {
    background-color: #11616E !important;
    color: #FFF;
}

.modal-header .close {
    color: #FFF !important;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    color: #000 !important;
}

form div.required label.control-label:after {
    content: " * ";
    color: red;
}

.tabla-listado-dispositivos {
    width: 100%;
}

.dispositivo-panel {
    margin: 3px 12px 13px 12px;
    text-align: justify;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #555;
    font-size: 12px;
}

.dispositivo-imei {
    color: #8E979F;
}

.dispositivo-panel:hover {
    /*margin: 5px 2px 5px 2px;*/
    text-align: justify;
    cursor: pointer;
    background-color: #CCCCCC;
    /*color: #FFFFFF;*/
}

.dispositivo-info-content {
    padding: 10px;
}

.dispositivo-nombre {
    background-color: #F5F6F9;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 400;
    /*border-radius: 5px;*/
    border-bottom: 3px solid #2995F1;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

.dispositivos-accesorios {
    width: 18px;
    margin-right: 2px;
    margin-top: 2px;
}

.dispositivos-accesorios-info {
    font-size: 12px;
}

h2 {
    background-color: #205196;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    line-height: normal !important;
    font-size: 12px !important;
}

.dispositivos-fecha {
    margin-top: 5px;
    font-weight: 700;
    text-align: center;
    font-size: 13px;
}

.dispositivos-direccion {
    margin-top: 5px;
    text-align: center;
}

.dispositivo-alias {
    font-weight: bold;
    font-size: 14px;
}

.logout {
    margin-left: 10px;
    color: #000 !important;
}

.search-bar-devices {
    padding: 10px;
}

.pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
    height: 33px;
    margin-top: 10px;
    /*border:0!important;*/
    border: 1px solid #2995F1 !important;
}

#pac-input-select {
    width: 80px;
    margin-top: 10px;
    height: 33px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.usuario-panel .dropdown-toggle {
    padding: 16px 12px 10px 10px !important;
}

.breadcrumb {
    padding: 0 !important;
}

.breadcrumb li {
    padding: 10px;
    background-color: #178B89;
    color: #FFF !important;
}

.breadcrumb li.active {
    background-color: #11616E;
}

.breadcrumb li a {
    color: #FFF;
}

.dropdown-menu li.active a {
    color: #FFF !important;
}

#mapLugares {
    width: 100%;
    height: 350px;
}

#lugares-poligono, #lugares-wkt {
    display: none;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent !important;
}

.loader {
    display: none;
}

.tab-content {
    padding-top: 20px;
}

#step-1 .foto-container .fileinput-button {
    display: none;
}

#vista_previa_imagen {
    background: #dadada url(/images/user_avatar.png) center center / 200px 200px no-repeat;
    margin-bottom: 20px;
    min-height: 200px;
    min-width: 200px;
    cursor: pointer;
    /* background-color:#dadada; */
}

#img-upload-plus {
    background-color: #117c8f;
    width: 26px;
    height: 27px;
    padding: 6px 7px;
    position: absolute;
    border-radius: 50px;
    top: 220px;
    left: 200px;
    overflow: hidden;
    cursor: pointer;
    color: #fff;
}

#form-registro-asociado .alert {
    font-size: 12px;
    padding: 6px;
    margin: 12px 0px;
}

#form-registro-asociado .alert-info {
    color: #fff;
    background-color: #2e8a96;
    border-color: #2e8a96;
}

#form-registro-asociado .btn-warning {
    color: #fff;
    background-color: #dab265;
    border-color: #dab265;
}

#form-registro-asociado .has-success .control-label {
    color: #2e8a96;
}

#form-registro-asociado .has-success .form-control {
    border-color: #2e8a96;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.document-input-asociado .form-group {
    margin-top: 10px !important;
    margin-bottom: 0px !important;
}

.document-input-asociado .form-group label {
    margin-top: 0px !important;
    margin-bottom: 2px !important;
}

.container {
    margin-top: 25px;
}


/* PLANES */

.panel-pricing {
    margin-top: 30px;
}

#free-plan-panel {
    background: transparent url(/images/free-plan.png) top center / 100% auto no-repeat;
    border: 1px solid #26c7db;
    border-radius: 15px 15px 0px 0px;
}

#free-plan-panel .panel-heading-plan {
    height: 120px;
    color: #fff;
}

#free-plan-panel .btn.seleccion_plan {
    background-color: #26c7db;
    border: none;
    max-width: 200px;
    margin: auto;
}


#normal-plan-panel {
    background: transparent url(/images/normal-plan.png) top center / 100% auto no-repeat;
    border: 1px solid #ffb200;
    border-radius: 15px 15px 0px 0px;
}

#normal-plan-panel .panel-heading-plan {
    height: 120px;
    color: #fff;
}


#normal-plan-panel .btn.seleccion_plan {
    background-color: #ffb200;
    border: none;
    max-width: 200px;
    margin: auto;
}

.panel-pricing {
    font-family: 'Montserrat', sans-serif;
}

.panel-pricing .list-group-item {
    min-height: 75px;
    display: flex;
    text-align: left;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.panel-pricing h3 {
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: 800;
}

/* #free-plan-panel:before{
  content:" ";
  display:block;
  position:absolute;
  width:122px;
  height:122px;background:transparent url(/images/free-plan-banner.png) top center / 100% auto no-repeat;
  margin-top:-7px;
  margin-left:-7px;
} */

#free-plan-panel .list-group-item:before {
    content: " ";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background: transparent url(/images/free-check-list.png) top center / 100% auto no-repeat;
    margin-left: -25px;
}

#normal-plan-panel .list-group-item:before {
    content: " ";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background: transparent url(/images/normal-check-list.png) top center / 100% auto no-repeat;
    margin-left: -25px;
}


.real-price-panel {
    padding-top: 10px !important;
    max-height: 50px;
    overflow: hidden;
    background-color: #efefff !important;
}

.real-price-panel p {
    font-size: 12px;
    margin-top: 0px;
}

.real-price-panel p .real-price {
    font-size: 12px;
    text-decoration: line-through;
    color: red;
}

.plan-name {
    font-size: 1.3em;
    font-weight: 400;
}


/* ERROR SUMARY */

/* .registro-error-sumary{
  display:block;
  position:absolute;
  z-index:1000;
  min-width: 360px;
  min-height:200px;
  height:450px;
  width:460px;
  margin:auto !important;
  left:0;
  right:0;
  top:0;
  bottom:0;
  padding:40px !important;
} */

.container#form-registro-asociado {
    display: block;
    position: relative;
}

#form-registro-asociado .panel-primary {
    border-color: #2e8a96;
}

#form-registro-asociado .btn-success {
    color: #fff;
    background-color: #dab265;
    border-color: #dab265;
}

#form-registro-asociado .btn-success:hover {
    color: #fff;
    background-color: #dab265;
    border-color: #dab265;
}

#form-registro-asociado .panel-body .help-panel:after {
    color: #2e8a96;
    background: #fff;
    border: 3px solid #fff;
}

.cat-item {
    text-align: center;
    cursor: pointer;
    transition: all 570ms ease-in-out;
}

.cat-item img {
    transition: all 140ms ease-in-out;
}

.cat-item:hover img {
    transform: scale(1.02);
}

.serv-item {
    text-align: center;
    cursor: pointer;
    transition: all 570ms ease-in-out;
}

.owl-carousel-serv {
    margin-bottom: 50px;
}

.owl-carousel.empty-category {
    display: block;
    position: relative;
    padding: 54px 0px;
}

.owl-carousel.empty-category .alert {
    margin: 0px auto !important;
    display: block;
    position: relative;
    float: none !important;
    text-align: center;
    max-width: 500px;
}

.btn-vermas {
    background: #178b89;
    color: white;
}

.btn-vermas:hover {
    background: #146b69;
    color: white;
}

.serv-item img {
    margin-bottom: 12px !important;
}

.serv-item span {
    margin-bottom: 12px !important;
}

.serv-item .btn {
    margin: 13px auto 5px auto;
}

.cat-item.active {
    filter: brightness(1.4);
}

.ajax-loader-obj {
    /* background:rgba(0,0,0,0.4) url(/images/ajax-loader.gif) center center / 44px 11px no-repeat; */
    background: rgba(0, 0, 0, 0.4) url(ajax-loader.gif) center center / 32px 32px no-repeat;
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.swal2-popup h2 {
    background: none;
}

.swal2-popup .swal2-content {
    font-size: 1.4em !important;
}

.swal2-popup .swal2-styled.swal2-confirm {
    font-size: 1.3em !important;
}

.label-servicios {
    padding: 7px 15px;
    font-size: 12px;
    margin-bottom: 16px;
    clear: both;
    font-weight: 400;
    display: table;
    position: relative;
    color: #2f3471;
    background-color: #a5c5e2;
    font-weight: 700;

}

.delete-service {
    width: 14px;
    height: 14px;
    float: right;
    margin-left: 12px;
    border-radius: 50px;
    background: #f17272;
    margin-top: -1px;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-prev {
    display: block !important;
    position: absolute !important;
    font-size: 100px !important;
    top: 45px;
    left: -65px;
    color: #178b89 !important;
}

.owl-next {
    display: block !important;
    position: absolute !important;
    font-size: 100px !important;
    top: 45px;
    right: -65px;
    color: #178b89 !important;
}

#owl-categorias .owl-prev,
#owl-categorias .owl-next {
    top: 0px;
}

.modal-dialog {
    transition: all 1.3s ease-in-out;
}

.single-page {
    max-width: 968px;
    margin: 25px auto;
}

@media (max-width: 768px) and (orientation: portrait) {
    .owl-next {
        top: 0;
        right: -31px;
        bottom: 109px;
    }

    .owl-prev {
        top: 0;
        left: -34px;
        bottom: 109px;
    }

}

@media (min-width: 768px) {
    .modal-dialog {
        width: 700px;
    }
}

#ajaxCrudModal {
    z-index: 1051 !important;
}

.fancybox-is-open {
    z-index: 999999 !important;;
}
