.btn-primary {
    background-color: #178b89!important;
    border-color: #178b89!important;
    color: #fff;
}
.btn-primary:hover {
    background-color: #11616e!important;
    border-color: #11616e!important;
    color: #fff;
}

.modal {
    overflow-y:auto !important;
}