/* Latest compiled and minified CSS included as External Resource*/

/* Optional theme */

/*@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');*/
 body {
    margin-top:30px;
}
.stepwizard-step p {
    margin-top: 0px;
    color:#666;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    /*opacity: 1 !important;
    filter: alpha(opacity=100) !important;*/
}
.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity:1 !important;
    color:#bbb;
}
.stepwizard-row:before {
/*    top: 14px;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;*/
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.stepwizard-row .stepwizard-step:before{
    content:" ";
    display:block;
    position:absolute;
    width:100%;
    height:100%;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}


.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.panel-pricing .panel-heading {
  padding: 20px 10px;
}
.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px;
}
.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px;
}

.Plan1{background:#ff9933; border:solid #ff9933;}
.Plan1:hover{background:#ff9933; border:solid #ff9933;}
.plan-two{background:#ffffff; border:solid #fff; color:#000;}
.plan-two:hover{background:#ffffff; border:solid #fff; color:#000;}
.paln-three{backgriund:#128807;}
.paln-three:hover{backgriund:#128807;}

.ml-15{
    margin-left: 15px;
}
.panel-body .help-panel:after{
    content: "?";
    font-size: 24px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 34px;
    height: 34px;
    float: right;
    top: 18px;
    left: auto;
    right: 25px;
    margin: auto !important;
    background: #43e;
    border-radius: 50px;
    border: 3px solid #99e;
  }
  
  .panel-body .help-panel{
    padding-right:60px !important;
  }

  .reqCertSrv{
    color: red;
    font-size: 20px;
    line-height: 0;
    margin: 9px 6px 0px 0px;
    float: left;
  }
  .reqCertSrvInfo{
    color: red; 
    font-size: 17px;
    line-height: 1;
    vertical-align: sub;
    padding-top: 39px;
  }
.swal2-content ul{
    text-align: left;
}

.ajax-loader-obj {
    background: rgba(255,255,255,0.4) url("https://upload.wikimedia.org/wikipedia/commons/7/7a/Ajax_loader_metal_512.gif") center center / 50px 50px no-repeat;
    background: rgba(255,255,255,0.4) url("https://upload.wikimedia.org/wikipedia/commons/7/7a/Ajax_loader_metal_512.gif") center center / 50px 50px no-repeat;
}

/* ------------  custom --------------------- */
/*
.row-servicios {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
}*/
